body {
  background-color: #2b2b2b;
  color: white;
  margin: 0;
  font-family: Arial, sans-serif;
}


.logo {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 100px; /* Adjust the width of the logo */
  height: auto;
}


.App {
  text-align: center;
  padding: 20px;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  position: relative;
}

.selection-container {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
}

.selection-container label {
  margin-right: 10px;
}

.selection-container select {
  margin: 0 20px;
  padding: 8px;
  font-size: 1rem;
}

.guitar-neck {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3a3a3a;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 100%; /* Ensures the fretboard doesn't overflow */
  overflow-x: auto; /* Allows horizontal scrolling on small screens */
}

.guitar-string {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
  border-top: 2px solid #ccc;
}

.guitar-fret {
  position: relative;
  width: 8vw; /* Flexible width that adjusts to the viewport */
  height: 8vw;
  max-width: 60px; /* Ensure frets don't get too large on big screens */
  max-height: 60px;
  background-color: #444;
  border: 1px solid #222;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-right: 5px;
}

.guitar-fret.highlight {
  background-color: #8d1f1f;
  color: black;
}

.note-label {
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
}

.fret:hover {
  background-color: lightgrey;
  color: black;
  cursor: pointer;
}

.hovered-info {
  margin-top: 20px;
  background-color: #444;
  color: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.2em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Responsive Adjustments for Smaller Screens */
@media (max-width: 768px) {
  .guitar-fret {
    width: 12vw;
    height: 12vw;
  }

  .note-label {
    font-size: 0.8rem;
  }

  .selection-container select {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .guitar-fret {
    width: 15vw;
    height: 15vw;
  }

  .note-label {
    font-size: 0.7rem;
  }

  .selection-container {
    flex-direction: column;
  }

  .selection-container select {
    margin-bottom: 10px;
    font-size: 0.8rem;
  }
}
